<aside class="cs-banners">
  <ul>
    <li></li>
  </ul>
</aside>

<footer>
  <h2>Credits</h2>

  <p><u><%= SITE_NAME %></u> is a non-profit project made by <u><%= DEVELOPER_NAME %></u>. This application is created with <u>Github</u>, <u>EJS template</u>, <u>React / Redux</u>, <u>Sass</u>. If you are a web designer or a web developer, please feel free to collaborate this project on <a href="<%= REPOSITORY_URL %>" target="_blank" rel="nofollow">Github repository</a>.</p>

  <h3>Tags</h3>
  <ul class="cs-inline-block-elements">
    <li>TODO:</li>
    <li>TODO:</li>
    <li>TODO:</li>
    <li>TODO:</li>
    <li>TODO:</li>
  </ul>

  <address><a href="<%= GITHUB_URL %>" target="_blank" rel="nofollow">Developer's information</a></address>

  <small><%= SITE_NAME %></small>

  <nav>
    <ul class="cs-inline-block-elements">
      <li><a href="#" target="_blank" rel="nofollow">TODO: Terms of Use</li>
    </ul>
  </nav>
</footer>

<div id="fb-root"></div>

<!-- TODO: use browserify?
<script src="<%= PATH_SCRIPT %>/vendor/jquery-2.2.3.min.js"></script> -->
<script src="<%= PATH_SCRIPT %>/common.js"></script>

</body>
</html>
